.eq {
    display: inline-block !important;
    -webkit-appearance: slider-vertical;
    width: 40px !important;
    height: 150px;
}

.sound-list {
    margin: 20px 0;
}

.sound-controls {
    margin-bottom: 20px;
}

.code-block {
    display: block;
    margin-top: 5px;
    overflow: hidden;
}

.options-row {
    margin:0 0 20px;
    border:1px solid #ddd;
    padding:15px;
    border-radius: 4px
}

.options-row h3 {
    font-size:16px;
    margin-top:0;
}

.btn {
    outline: none !important;
}

.btn .off,
.btn .on {
    display: none;
}

.btn.off .off,
.btn.on .on {
    display: inline-block;
}

.progress {
    height: 10px;
    margin: 10px 0 0;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
