.eq {
    display: inline-block !important;
    -webkit-appearance: slider-vertical;
    width: 8% !important;
    height: 150px;
    margin:10px 0;
}

.sound-list {
    margin: 20px 0;
}

.sound-controls {
    margin-bottom: 20px;
}

.well h3 {
    margin-top:0;
}

.well p {
    margin-top:10px;
}

.btn {
    outline: none !important;
}

.btn .off,
.btn .on {
    display: none;
}

.btn.off .off,
.btn.on .on {
    display: inline-block;
}

.progress {
    height: 10px;
    margin: 10px 0 0;
}

.range {
    height: 40px;
}

.progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.canvas {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    background: #fff;
}

pre {
    padding: 0;
}
pre code {
    margin: 0;
}

.sprites .btn {
    margin-bottom:10px;
}
